<body>
    <div class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            <img src="images/gross2.png" width="90" height="115">
        </div>
    </div>
    <div class="navbar-header navbar-light bg-light">
        <ul>
            <li class="nav-item">
                <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button></a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">About Gro$$</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Contact Us</button>
            </li>
        </ul>
    </div>
    <div class="bg">
        <div class="background">
            <h1>Welcome to Gro$$<br/></h1>
            <h3>Expense Tracking Made Easy</h3>
        </div>
    </div>
</body>
<footer>
	<div class="footer-copyright py-3 text-center">© Gross 2018</div>
</footer>
</html>