<head>
    <title>New Transaction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<!-- Navbar -->	
    <nav class="navbar sticky-top navbar-light bg-light">
        <img src="/images/gross2.png" alt="logo" width="90" height="110">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="/"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button></a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Contact Us</button>
            </li>
        </ul>
    </nav>

{{#each transactions}}
<div class="transactions">
    <div class="new_transaction">
        {{snippet}}
    </div>
</div>
{{/each}}

{{!-- {{#if isLoggedIn}}  --}}
    <form action="/transactions/newtransaction" method="POST">
        <div>
            <label for="description">Transaction Description</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="amount">Transaction Amount</label>
            <input type="text" name="amount">
        </div>
        <div>
            <label for="frequency">Transaction Frequency</label>
            <input type="text" name="frequency">
        </div>
        <div>
            <label for="paymentMethod">Transaction Payment Method</label>
            {{!-- <input type="text" name="paymentMethod"> --}}
            <select name="paymentMethod">
                {{#each methods}}
                    <option value="{{id}}">{{description}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <label for="category">Transaction Category</label>
            <input type="text" name="category">
        </div>
        <div>
            <label for="type">Transaction Type</label>
            <select type="text" name="type">
                <option>credit</option>
                <option>debit</option>
            </select>
        </div>
        <button class="transactions" type="submit">Submit</button>
    </form>



