  <head>
		<title>Users</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>

    <!-- Navbar -->	
    <nav class="navbar sticky-top navbar-light bg-light">
        <img src="images/gross2.png" alt="logo" width="90" height="110" href="localhost:3000">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="/"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button></a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Transactions</button>
            </li>
        </ul>
    </nav>
    <container>
      <br />
      <ol>
      {{#each users}}
        <li>
          <div>
                <em>First Name: </em>{{firstname}}<br />
                <em>Last Name: </em>{{lastname}}<br />
                <hr>
            </div>
        </li>
      {{/each}}
      </ol>
    </container>

