  <head>
		<title>User's Profile</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>

    <!-- Navbar -->	
    <nav class="navbar sticky-top navbar-light bg-light">
        <img src="/images/gross2.png" alt="logo" width="90" height="110" href="localhost:3000">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="/"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button></a>
            </li>
            <li class="nav-item">
                <a href="/transactions"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Transactions</button></a>
            </li>
        </ul>
    </nav>
    <container>
      <h2>Tracker Profile</h2>
      <br />
      <div class="card" style="with: 18rem;">
        <img class="card-img-top" src='/images/blankUser.png' alt="Card image cap">
        <div class="card-body"> 
            <h5 class="card-title">Name</h5>
            <p class="card-text">{{user.firstname}} {{user.lastname}}</p>
            <h5 class="card-title">Profile Id</h5>
            <p class="card-text">user.profileId</p>
        </div>   
      </div>
      <br />
      <h5>Payment Methods</h5>
      {{#each methods}}
        <li>{{this.description}}</li>
      {{/each}}  
    </container>
  </body>
</html>
